@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.header .header__wrapper-top__color {
  background-color: black;
  padding: 10px 0;
  color: white;
}
.header .header__wrapper-top__color .header__wrapper-top {
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: space-between;
  align-items: center;
}
.header .header__wrapper-top__color .header__wrapper-top p {
  margin: 0 !important;
}
.header .header__wrapper-top__color .header__wrapper-top .bi {
  font-size: 18px;
}
.header .header__wrapper-top__color .header__wrapper-top a {
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 2px;
}
.header .openDropdown {
  display: none;
}
.header .dropdown__header {
  overflow: hidden;
  height: 0;
  transition: all 1s;
}
.header .showDropdown {
  height: -moz-fit-content;
  height: fit-content;
}
.header .dropdown__header {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: start;
}
.header .dropdown__header a {
  color: black;
}
.header .header__wrapper-bottom {
  padding: 30px 0;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: start;
}
.header .header__wrapper-bottom > div:first-child {
  flex-shrink: 0;
}
.header .header__wrapper-bottom .header__links {
  display: flex;
  gap: 20px;
  flex-shrink: 0;
}
.header .header__wrapper-bottom .header__links .header__link {
  color: black;
}
.header .header__wrapper-bottom .search__inp {
  position: relative;
  flex: 1 1 auto;
  max-width: 100%;
}
.header .header__wrapper-bottom .search__inp input {
  width: 100%;
  padding: 10px 10px 10px 30px;
  border-radius: 3px;
  border: none;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  outline: none;
}
.header .header__wrapper-bottom .search__inp .bi {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.header .header__wrapper-bottom .bi-cart,
.header .header__wrapper-bottom .bi-person-circle {
  flex-shrink: 0;
  font-size: 20px;
}

@media only screen and (max-width: 998px) {
  .header .openDropdown {
    display: flex;
    font-size: 20px;
  }
  .header .header__wrapper-bottom .header__links {
    display: none;
  }
}
@media only screen and (max-width: 560px) {
  .header .header__wrapper-top {
    font-size: small;
  }
}
.main .navigatorDiv {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: start;
  align-items: center;
}
.main .navigatorDiv .navigatorChanging {
  margin: 0;
}
.main .cart {
  margin-top: 50px;
}
.main .cart .cart__title {
  font-family: "Anton", sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.main .cart .cart__wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  align-items: start;
}
.main .cart .cart__wrapper .left__products {
  width: 50%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 0px 15px;
  border-radius: 20px;
}
.main .cart .cart__wrapper .left__products .cart_product {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: start;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0;
}
.main .cart .cart__wrapper .left__products .cart_product .imgDiv {
  width: 24%;
}
.main .cart .cart__wrapper .left__products .cart_product img {
  width: 100%;
}
.main .cart .cart__wrapper .left__products .cart_product .cart__detail {
  width: 76%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
}
.main .cart .cart__wrapper .left__products .cart_product .cart__detail .cart__titleAndDelete {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0px;
  justify-content: space-between;
}
.main .cart .cart__wrapper .left__products .cart_product .cart__detail .cart__titleAndDelete .cart__title2 {
  font-weight: 700;
  font-size: 20px;
}
.main .cart .cart__wrapper .left__products .cart_product .cart__detail .cart__titleAndDelete .bi {
  color: red;
  font-size: 20px;
}
.main .cart .cart__wrapper .left__products .cart_product .cart__detail .cart__size {
  font-size: 14px;
}
.main .cart .cart__wrapper .left__products .cart_product .cart__detail .cart__size span {
  color: rgba(0, 0, 0, 0.6);
}
.main .cart .cart__wrapper .left__products .cart_product .cart__detail .cart__color {
  font-size: 14px;
}
.main .cart .cart__wrapper .left__products .cart_product .cart__detail .cart__color span {
  color: rgba(0, 0, 0, 0.6);
}
.main .cart .cart__wrapper .left__products .cart_product .cart__detail .cart__priceAndCount {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}
.main .cart .cart__wrapper .left__products .cart_product .cart__detail .cart__priceAndCount .cart__price {
  font-weight: 600;
  font-size: 20px;
}
.main .cart .cart__wrapper .left__products .cart_product .cart__detail .cart__priceAndCount .cart__count {
  display: flex;
  align-items: center;
  gap: 13px;
  justify-content: start;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 6px 16px;
  border-radius: 20px;
}
.main .cart .cart__wrapper .left__products .cart_product .cart__detail .cart__priceAndCount .cart__count button {
  background-color: transparent;
  border: none;
  font-size: large;
}
.main .cart .cart__wrapper .right__summary {
  width: 50%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 20px;
}
.main .cart .cart__wrapper .right__summary .summary__text {
  font-size: 22px;
  font-weight: 600;
}
.main .cart .cart__wrapper .right__summary .summary__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  margin: 10px 0;
}
.main .cart .cart__wrapper .right__summary .summary__wrapper .left__text {
  color: rgba(0, 0, 0, 0.6);
  font-size: large;
}
.main .cart .cart__wrapper .right__summary .summary__wrapper .right__text {
  font-weight: 700;
  font-size: large;
}
.main .cart .cart__wrapper .right__summary .summary__wrapper .right__text--red {
  color: red;
}
.main .cart .cart__wrapper .right__summary .summary__wrapper .right__text--bold {
  font-weight: 800;
  font-size: 22px;
}
.main .cart .cart__wrapper .right__summary .summary__promocode {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.main .cart .cart__wrapper .right__summary .summary__promocode .summary__input {
  width: 70%;
  position: relative;
}
.main .cart .cart__wrapper .right__summary .summary__promocode .summary__input input {
  width: 100%;
  padding: 10px 32px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  border: none;
}
.main .cart .cart__wrapper .right__summary .summary__promocode .summary__input .bi {
  position: absolute;
  left: 10px;
  top: calc(50% - 8px);
}
.main .cart .cart__wrapper .right__summary .summary__promocode .promocode__apply {
  width: 30%;
  padding: 10px 10px;
  background-color: black;
  border: none;
  border-radius: 20px;
  color: white;
}
.main .cart .cart__wrapper .right__summary .promocode__checkout {
  background-color: black;
  -moz-columns: white;
       columns: white;
  padding: 13px 30px;
  width: 100%;
  border: none;
  margin-top: 13px;
  border-radius: 35px;
  color: white;
}

@media only screen and (max-width: 992px) {
  .main .cart .cart__wrapper {
    flex-direction: column;
  }
  .main .cart .cart__wrapper .left__products {
    width: 100%;
  }
  .main .cart .cart__wrapper .right__summary {
    width: 100%;
  }
}
.footer {
  background-color: rgb(240, 240, 240);
  margin-top: -80px;
  padding: 140px 0 10px 0;
}
.footer .footer__wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}
.footer .footer__wrapper .footer__first {
  grid-column: 1/3;
}
.footer .footer__wrapper .footer__first .footer__firstText {
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.6);
}
.footer .footer__wrapper .footer__first .footer__firstSocial {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: start;
}
.footer .footer__wrapper .footer__first .bi {
  display: inline-block;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__wrapper .footer__first .bi:hover {
  color: white;
  border-color: black;
  background-color: black;
}
.footer .footer__wrapper .footer__LinksFather {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: start;
  flex-direction: column;
  align-items: start;
}
.footer .footer__wrapper .footer__LinksFather .footer__link {
  color: rgba(0, 0, 0, 0.6);
}
.footer .footer__wrapper .footer__LinksFather .footer__linksText {
  font-weight: 600;
  letter-spacing: 1px;
}
.footer .footer__line {
  margin: 24px 0;
}
.footer .footer__bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .footer .footer__wrapper .footer__first {
    grid-column: 1/7;
  }
  .footer .footer__wrapper .footer__second {
    grid-column: 1/4;
  }
  .footer .footer__wrapper .footer__third {
    grid-column: 4/7;
  }
  .footer .footer__wrapper .footer__forth {
    grid-column: 1/4;
  }
  .footer .footer__wrapper .footer__fourth {
    grid-column: 1/4;
  }
  .footer .footer__wrapper .footer__fifth {
    grid-column: 4/7;
  }
  .footer .footer__bottom {
    flex-direction: column;
  }
}
.subscribe {
  position: relative;
  z-index: 1;
  margin-top: 100px;
}
.subscribe .subscribe__wrapper {
  background-color: black;
  padding: 30px;
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}
.subscribe .subscribe__wrapper .subscribe__title {
  font-family: "Anton", sans-serif;
  font-size: 40px;
  letter-spacing: 4px;
}
.subscribe .subscribe__wrapper .subscribe__second {
  width: 40%;
}
.subscribe .subscribe__wrapper .subscribe__second #subscribeUser {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
}
.subscribe .subscribe__wrapper .subscribe__second #subscribeUser .subscribeInpWrap {
  width: 100%;
  position: relative;
}
.subscribe .subscribe__wrapper .subscribe__second #subscribeUser .subscribeInpWrap #subscribeInput {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border-radius: 30px;
  background-color: white;
  border: none;
  outline: none;
}
.subscribe .subscribe__wrapper .subscribe__second #subscribeUser .subscribeInpWrap .bi {
  position: absolute;
  left: 10px;
  top: calc(50% - 10px);
  z-index: 1;
  color: black;
}
.subscribe .subscribe__wrapper .subscribe__second #subscribeUser button {
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  font-weight: 600;
  color: black;
  border: none;
}

@media only screen and (max-width: 992px) {
  .subscribe .subscribe__wrapper {
    flex-direction: column;
  }
  .subscribe .subscribe__wrapper .subscribe__second {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .subscribe .subscribe__wrapper .subscribe__title {
    font-size: 30px;
  }
}/*# sourceMappingURL=cart.css.map */