@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-moz-selection {
  background-color: rgb(30, 30, 30);
  color: rgb(223, 223, 223);
}

*::selection {
  background-color: rgb(30, 30, 30);
  color: rgb(223, 223, 223);
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.header .header__wrapper-top__color {
  background-color: black;
  padding: 10px 0;
  color: white;
}
.header .header__wrapper-top__color .header__wrapper-top {
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: space-between;
  align-items: center;
}
.header .header__wrapper-top__color .header__wrapper-top p {
  margin: 0 !important;
}
.header .header__wrapper-top__color .header__wrapper-top .bi {
  font-size: 18px;
}
.header .header__wrapper-top__color .header__wrapper-top a {
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 2px;
}
.header .openDropdown {
  display: none;
}
.header .dropdown__header {
  overflow: hidden;
  height: 0;
  transition: all 1s;
}
.header .showDropdown {
  height: -moz-fit-content;
  height: fit-content;
}
.header .dropdown__header {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: start;
}
.header .dropdown__header a {
  color: black;
}
.header .header__wrapper-bottom {
  padding: 30px 0;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: start;
}
.header .header__wrapper-bottom > div:first-child {
  flex-shrink: 0;
}
.header .header__wrapper-bottom .header__links {
  display: flex;
  gap: 20px;
  flex-shrink: 0;
}
.header .header__wrapper-bottom .header__links .header__link {
  color: black;
}
.header .header__wrapper-bottom .search__inp {
  position: relative;
  flex: 1 1 auto;
  max-width: 100%;
}
.header .header__wrapper-bottom .search__inp input {
  width: 100%;
  padding: 10px 10px 10px 30px;
  border-radius: 3px;
  border: none;
  background-color: rgb(240, 240, 240);
  border-radius: 20px;
  outline: none;
}
.header .header__wrapper-bottom .search__inp .bi {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.header .header__wrapper-bottom .bi-cart,
.header .header__wrapper-bottom .bi-person-circle {
  flex-shrink: 0;
  font-size: 20px;
}

@media only screen and (max-width: 998px) {
  .header .openDropdown {
    display: flex;
    font-size: 20px;
  }
  .header .header__wrapper-bottom .header__links {
    display: none;
  }
}
@media only screen and (max-width: 560px) {
  .header .header__wrapper-top {
    font-size: small;
  }
}
.hero {
  background-color: rgb(240, 240, 240);
}
.hero .hero__wrapper {
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: space-between;
  overflow: hidden;
}
.hero .hero__wrapper .hero__first {
  width: 50%;
}
.hero .hero__wrapper .hero__first .hero__title {
  font-size: 60px;
  font-weight: 900;
  font-family: "Anton";
}
.hero .hero__wrapper .hero__first .hero__text {
  line-height: 22px;
}
.hero .hero__wrapper .hero__first .hero__btn {
  padding: 10px 50px;
  color: white;
  background-color: black;
  border-radius: 20px;
  border: none;
  margin: 10px 0;
}
.hero .hero__wrapper .hero__first .hero__status {
  max-width: 700px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.hero .hero__wrapper .hero__first .hero__status .statusOfHero {
  margin-top: 20px;
}
.hero .hero__wrapper .hero__first .hero__status .statusOfHero .status_num {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.hero .hero__wrapper .hero__first .hero__status .statusOfHero .status_name {
  text-align: center;
}
.hero .hero__wrapper .hero__first .hero__status .statusOfHero:nth-child(2) {
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  border-right: 2px solid rgba(0, 0, 0, 0.1);
  padding: 0 30px 0 30px;
}
.hero .hero__wrapper .hero__second {
  position: relative;
}
.hero .hero__wrapper .hero__second .hero__mainImage {
  transform: scale(1.2) translate(0, 100px);
}
.hero .hero__wrapper .hero__second .div_star {
  position: absolute;
}
.hero .hero__wrapper .hero__second .div_star:nth-child(1) {
  top: 50%;
  left: 0px;
}
.hero .hero__wrapper .hero__second .div_star:nth-child(2) {
  top: 50%;
  left: 0px;
}
.hero .hero__wrapper .hero__second .div_star:nth-child(3) {
  top: 30%;
  right: 10px;
}

@media only screen and (max-width: 992px) {
  .hero {
    padding-top: 30px;
  }
  .hero .hero__wrapper {
    flex-direction: column;
  }
  .hero .hero__wrapper .hero__first {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .hero .hero__wrapper .hero__first .hero__title {
    font-size: 40px;
  }
  .hero .hero__wrapper .hero__first .hero__text {
    font-size: 13px;
    line-height: 14px;
  }
  .hero .hero__wrapper .hero__first .hero__status {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
  .hero .hero__wrapper .hero__first .hero__status .statusOfHero:nth-child(2) {
    border-right: 0;
  }
  .hero .hero__wrapper .hero__first .hero__status .statusOfHero:nth-child(3) {
    grid-column: 1/-1;
    justify-self: center;
  }
}
.collobrators {
  background-color: black;
  margin-bottom: 6%;
  padding: 30px 0;
}
.collobrators .collobrator__wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  overflow-x: scroll;
}
.collobrators .collobrator__wrapper::-webkit-scrollbar {
  display: none;
}

.arrivals {
  margin-bottom: 30px;
}
.arrivals .arrivals__text {
  text-align: center;
  font-size: 30px;
}
.arrivals .arrivals__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
.arrivals .arrivals__wrapper .arrival_product img {
  width: 100%;
}
.arrivals .arrivals__wrapper .arrival_product .arriva_name {
  font-weight: 700;
  margin: 10px 0;
}
.arrivals .arrivals__wrapper .arrival_product .productRating .bi {
  color: rgb(255, 198, 51);
}
.arrivals .arrivals__wrapper .arrival_product .arrival__discount {
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: start;
}
.arrivals .arrivals__wrapper .arrival_product .arrival__discount .realArrivalPrice {
  color: gray;
}
.arrivals .arrivals__wrapper .arrival_product .arrival__discount .arrivalDisPercent {
  padding: 5px 20px;
  background-color: rgba(255, 0, 0, 0.3);
  color: red;
  font-size: 12px;
  font-weight: 300;
  border-radius: 20px;
}
.arrivals .arrival_viewAll {
  max-width: 300px;
  border: 1px solid rgba(128, 128, 128, 0.373);
  padding: 10px 50px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: transparent;
  margin-top: 30px;
}

@media only screen and (max-width: 1400px) {
  .arrivals .arrivals__wrapper > a:nth-child(4) {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .arrivals .arrivals__wrapper > a:nth-child(4) {
    display: inline-block;
  }
}
@media only screen and (max-width: 768px) {
  .arrivals .arrivals__wrapper .arrival_product {
    max-width: 240px;
  }
}
@media only screen and (max-width: 524px) {
  .arrivals .arrivals__wrapper .arrival_product {
    max-width: 200px;
  }
}
@media only screen and (max-width: 446px) {
  .arrivals .arrivals__wrapper .arrival_product {
    max-width: 170px;
  }
}
@media only screen and (max-width: 384px) {
  .arrivals .arrivals__wrapper .arrival_product {
    max-width: 150px;
  }
}
.top-selling {
  margin-top: 30px;
}
.top-selling .top-selling__text {
  text-align: center;
  font-size: 30px;
}
.top-selling .top-selling__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
.top-selling .top-selling__wrapper .top-selling__product img {
  width: 100%;
}
.top-selling .top-selling__wrapper .top-selling__product .top-selling__name {
  font-weight: 700;
  margin: 10px 0;
}
.top-selling .top-selling__wrapper .top-selling__product .productRating .bi {
  color: rgb(255, 198, 51);
}
.top-selling .top-selling__wrapper .top-selling__product .top-selling__discount {
  font-weight: 700;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: start;
}
.top-selling .top-selling__wrapper .top-selling__product .top-selling__discount .top-selling__realPrice {
  color: gray;
}
.top-selling .top-selling__wrapper .top-selling__product .top-selling__discount .top-selling__percent {
  padding: 5px 20px;
  background-color: rgba(255, 0, 0, 0.3);
  color: red;
  font-size: 12px;
  font-weight: 300;
  border-radius: 20px;
}
.top-selling .top-selling__viewAll {
  max-width: 300px;
  border: 1px solid rgba(128, 128, 128, 0.373);
  padding: 10px 50px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: transparent;
  margin-top: 30px;
}

@media only screen and (max-width: 1400px) {
  .top-selling .top-selling__wrapper .top-selling__product:nth-child(4) {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .top-selling .top-selling__wrapper .top-selling__product:nth-child(4) {
    display: inline-block;
  }
}
@media only screen and (max-width: 768px) {
  .top-selling .top-selling__wrapper .top-selling__product {
    max-width: 240px;
  }
}
@media only screen and (max-width: 524px) {
  .top-selling .top-selling__wrapper .top-selling__product {
    max-width: 200px;
  }
}
@media only screen and (max-width: 446px) {
  .top-selling .top-selling__wrapper .top-selling__product {
    max-width: 170px;
  }
}
@media only screen and (max-width: 384px) {
  .top-selling .top-selling__wrapper .top-selling__product {
    max-width: 150px;
  }
}
.browse {
  margin-top: 70px;
  background-color: rgb(240, 240, 240);
  border-radius: 30px;
  padding: 30px;
}
.browse .browse__title {
  text-align: center;
  font-size: 45px;
  font-family: "Anton", sans-serif;
  font-weight: 900;
  letter-spacing: 4px;
  margin-bottom: 40px;
}
.browse .browse__display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 250px 250px;
  gap: 20px;
}
.browse .browse__display .browseGridDivs {
  background-color: white;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 0;
  justify-content: center;
}
.browse .browse__display .browseGridDivs img {
  width: 100%;
}
.browse .browse__display .browseGridDivs p {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
  font-weight: 700;
}
.browse .browse__display .browseGridDiv2 {
  grid-column: 2/4;
}
.browse .browse__display .browseGridDiv3 {
  grid-column: 1/3;
}

@media only screen and (max-width: 1200px) {
  .browse .browse__display {
    grid-template-rows: repeat(2, 140px);
  }
}
@media only screen and (max-width: 768px) {
  .browse .browse__display {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 140px);
  }
  .browse .browse__display .browseGridDivs {
    grid-column: 1/2;
  }
}
.footer {
  background-color: rgb(240, 240, 240);
  margin-top: -80px;
  padding: 140px 0 10px 0;
}
.footer .footer__wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}
.footer .footer__wrapper .footer__first {
  grid-column: 1/3;
}
.footer .footer__wrapper .footer__first .footer__firstText {
  margin: 10px 0;
  color: rgba(0, 0, 0, 0.6);
}
.footer .footer__wrapper .footer__first .footer__firstSocial {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: start;
}
.footer .footer__wrapper .footer__first .bi {
  display: inline-block;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__wrapper .footer__first .bi:hover {
  color: white;
  border-color: black;
  background-color: black;
}
.footer .footer__wrapper .footer__LinksFather {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: start;
  flex-direction: column;
  align-items: start;
}
.footer .footer__wrapper .footer__LinksFather .footer__link {
  color: rgba(0, 0, 0, 0.6);
}
.footer .footer__wrapper .footer__LinksFather .footer__linksText {
  font-weight: 600;
  letter-spacing: 1px;
}
.footer .footer__line {
  margin: 24px 0;
}
.footer .footer__bottom {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .footer .footer__wrapper .footer__first {
    grid-column: 1/7;
  }
  .footer .footer__wrapper .footer__second {
    grid-column: 1/4;
  }
  .footer .footer__wrapper .footer__third {
    grid-column: 4/7;
  }
  .footer .footer__wrapper .footer__forth {
    grid-column: 1/4;
  }
  .footer .footer__wrapper .footer__fourth {
    grid-column: 1/4;
  }
  .footer .footer__wrapper .footer__fifth {
    grid-column: 4/7;
  }
  .footer .footer__bottom {
    flex-direction: column;
  }
}
.happyCustomers {
  margin-top: 40px;
}
.happyCustomers .happyCustomers__wrapper-top {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.happyCustomers .happyCustomers__wrapper-top .happyCustomers__title {
  font-family: "Anton", sans-serif;
  font-size: 40px;
}
.happyCustomers .happyCustomers__wrapper-top i {
  font-size: 20px;
}
.happyCustomers .happyCustomers__wrapper-top .comments__scroll {
  min-width: 70px;
}
.happyCustomers .card-list {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  overflow-x: auto;
  scroll-behavior: smooth;
  list-style-type: none;
  padding-bottom: 10px;
  scrollbar-width: none;
}
.happyCustomers .card-list::-webkit-scrollbar {
  display: none;
}
.happyCustomers .card-list .card-item {
  width: 340px;
  flex: 0 0 auto;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 15px;
  padding: 25px;
}
.happyCustomers .card-list .card-item .happyUser__rating {
  color: rgb(255, 198, 51);
}
.happyCustomers .card-list .card-item .happyUserName {
  margin: 7px 0;
}
.happyCustomers .card-list .card-item .happyUserName i {
  color: green;
}
.happyCustomers .card-list .card-item .happyUserText {
  color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 768px) {
  .happyCustomers .happyCustomers__wrapper-top .happyCustomers__title {
    font-size: 38px;
  }
}
.subscribe {
  position: relative;
  z-index: 1;
  margin-top: 30px;
}
.subscribe .subscribe__wrapper {
  background-color: black;
  padding: 30px;
  color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}
.subscribe .subscribe__wrapper .subscribe__title {
  font-family: "Anton", sans-serif;
  font-size: 40px;
  letter-spacing: 4px;
}
.subscribe .subscribe__wrapper .subscribe__second {
  width: 40%;
}
.subscribe .subscribe__wrapper .subscribe__second #subscribeUser {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
}
.subscribe .subscribe__wrapper .subscribe__second #subscribeUser .subscribeInpWrap {
  width: 100%;
  position: relative;
}
.subscribe .subscribe__wrapper .subscribe__second #subscribeUser .subscribeInpWrap #subscribeInput {
  width: 100%;
  padding: 10px 10px 10px 40px;
  border-radius: 30px;
  background-color: white;
  border: none;
  outline: none;
}
.subscribe .subscribe__wrapper .subscribe__second #subscribeUser .subscribeInpWrap .bi {
  position: absolute;
  left: 10px;
  top: calc(50% - 10px);
  z-index: 1;
  color: black;
}
.subscribe .subscribe__wrapper .subscribe__second #subscribeUser button {
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  font-weight: 600;
  color: black;
  border: none;
}

@media only screen and (max-width: 992px) {
  .subscribe .subscribe__wrapper {
    flex-direction: column;
  }
  .subscribe .subscribe__wrapper .subscribe__second {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .subscribe .subscribe__wrapper .subscribe__title {
    font-size: 30px;
  }
}
.sarvar {
  width: 90%;
  height: 508px;
  margin: 0 auto;
  margin-bottom: 120px;
  margin-top: 50px;
}

.sarvar__head_p {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 20px;
}

.sarvar__items_wrp {
  display: flex;
}

.sarvar__basket_items_wrp {
  display: flex;
  padding-left: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  width: 680px;
  height: 508px;
  border-radius: 50px;
  padding-top: 25px;
  flex-wrap: wrap;
}

.sarvar__product_img1 {
  display: flex;
  border: 1px solid transparent;
  border-radius: 20px;
  width: 124px;
  height: 124px;
}

.sarvar__product_img2 {
  display: flex;
  border: 1px solid transparent;
  border-radius: 20px;
  width: 124px;
  height: 124px;
}

.sarvar__product_img3 {
  display: flex;
  border: 1px solid transparent;
  border-radius: 20px;
  width: 124px;
  height: 124px;
}

.sarvar__img {
  display: flex;
  border-radius: 50px;
  width: 124px;
  height: 124px;
}

.product_describe_item1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 2px;
  margin-left: 16px;
}

.product_describe_item2 {
  font-size: 14px;
  font-weight: 400;
  margin-left: 16px;
}

.product_describe_item3 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 4px;
  margin-left: 16px;
}

.product_describe_item4 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 15px;
  margin-left: 16px;
}

.product_manage_wrp {
  position: relative;
  height: 124px;
  margin-left: 170px;
}

.trash1 {
  position: absolute;
  top: 10px;
  left: 0;
  font-weight: 600;
  margin-left: 50px;
}

.trash2 {
  position: absolute;
  top: 10px;
  left: 0;
  font-weight: 600;
  margin-left: 50px;
}

.trash3 {
  position: absolute;
  top: 10px;
  left: 0;
  font-weight: 600;
  margin-left: 50px;
}

.frame__wrp1 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 126px;
  height: 44px;
  border-radius: 62px;
  background-color: #F0F0F0;
  margin-left: -50px;
  padding-top: 10px;
  justify-content: space-evenly;
  font-weight: 500;
  font-size: 18px;
}

.frame__wrp2 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 126px;
  height: 44px;
  border-radius: 62px;
  background-color: #F0F0F0;
  margin-left: -50px;
  padding-top: 10px;
  justify-content: space-evenly;
  font-weight: 500;
  font-size: 18px;
}

.frame__wrp3 {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 126px;
  height: 44px;
  border-radius: 62px;
  background-color: #F0F0F0;
  margin-left: -50px;
  padding-top: 10px;
  justify-content: space-evenly;
  font-weight: 500;
  font-size: 18px;
}

.sarvar__price_wrp {
  margin-left: 20px;
  width: 430px;
  height: 448px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 50px;
  padding-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
}

.sarvar__elon {
  font-size: 24px;
  font-weight: 700;
}

.price__items_wrp-1 {
  margin-top: 20px;
  display: flex;
  width: 350px;
  justify-content: space-between;
}

.price__items_wrp-2 {
  margin-top: 20px;
  display: flex;
  width: 350px;
  justify-content: space-between;
}

.p4 {
  margin-top: 20px;
  width: 360px;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
}

.price__items_wrp-3 {
  margin-top: 20px;
  display: flex;
  width: 350px;
  justify-content: space-between;
}

.price__items_wrp-4 {
  display: flex;
  margin-top: 20px;
  width: 350px;
  justify-content: space-between;
}

.price__items_p-1 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 400;
}

.price__items_p-2 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 400;
}

.price__items_p-3 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 400;
}

.price__items_p-4 {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
}

.price__items_price-1 {
  font-size: 20px;
  font-weight: 700;
}

.price__items_price-2 {
  font-size: 20px;
  font-weight: 700;
  color: red;
}

.price__items_price-3 {
  font-size: 20px;
  font-weight: 700;
}

.price__items_price-4 {
  font-size: 20px;
  font-weight: 700;
}

#text {
  width: 226px;
  height: 38px;
  background-color: #F0F0F0;
  border: 1px solid transparent;
  border-radius: 62px;
  padding-left: 30px;
  margin-right: 10px;
}

.sarvar__buttons_wrp {
  display: flex;
  margin-top: 25px;
}

.sarvar__btn-1 {
  width: 120px;
  height: 38px;
  color: white;
  background-color: black;
  border-radius: 60px;
  border: 1px solid transparent;
}

.sarvar__btn-2 {
  margin-top: 20px;
  width: 380px;
  height: 45px;
  border-radius: 62px;
  border: 1px solid transparent;
  color: white;
  background-color: black;
}

@media only screen and (max-width: 1400px) {
  .item__describe_wrp {
    margin-right: 0;
  }
}
@media only screen and (max-width: 1280px) {
  .p4 {
    width: 230px;
  }
  .sarvar__price_wrp {
    margin-left: 5%;
    margin-bottom: 500px;
    width: 300px;
    height: 375px;
    padding-left: 30px;
  }
  #text {
    width: 155px;
    height: 38px;
    background-color: #F0F0F0;
    border: 1px solid transparent;
    border-radius: 62px;
    margin-right: 10px;
    font-size: 10px;
  }
  .sarvar__buttons_wrp {
    display: flex;
    margin-top: 25px;
  }
  .sarvar__btn-1 {
    width: 80px;
    height: 38px;
    color: white;
    background-color: black;
    border-radius: 60px;
    border: 1px solid transparent;
  }
  .sarvar__btn-2 {
    margin-top: 20px;
    width: 250px;
    height: 45px;
    border-radius: 62px;
    border: 1px solid transparent;
    color: white;
    background-color: black;
  }
  .price__items_wrp-1 {
    width: 250px;
  }
  .price__items_wrp-1 p {
    font-size: 12px;
  }
  .price__items_wrp-2 {
    width: 250px;
  }
  .price__items_wrp-2 p {
    font-size: 12px;
  }
  .price__items_wrp-3 {
    width: 250px;
  }
  .price__items_wrp-3 p {
    font-size: 12px;
  }
  .price__items_wrp-4 {
    width: 250px;
  }
  .price__items_wrp-4 p {
    font-size: 12px;
  }
  .sarvar__head_p {
    font-size: 20px;
  }
  .sarvar__product_img1 {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-top: 30px;
  }
  .sarvar__product_img2 {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-left: -170px;
    margin-top: 30px;
  }
  .sarvar__product_img3 {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-left: -170px;
  }
  .sarvar__basket_items_wrp {
    width: 400px;
    padding-left: 15px;
    position: relative;
    height: 370px;
    padding-left: 50px;
  }
  .product_describe_item1 {
    font-size: 13px;
    margin-top: 30px;
  }
  .product_describe_item2 {
    font-size: 10px;
  }
  .product_describe_item3 {
    font-size: 10px;
  }
  .product_describe_item4 {
    font-size: 14px;
    margin-top: 0px;
  }
  .item__describe_wrp {
    margin-left: -10px;
  }
  .item__describe_wrp3 {
    margin-left: -10px;
    margin-top: -30px;
  }
  .line {
    width: 200px;
    height: 0;
    border: 1px solid grey;
  }
  .trash1 {
    top: -70px;
    left: 50px;
  }
  .trash2 {
    top: -95px;
    left: 50px;
  }
  .trash3 {
    top: -125px;
    left: 50px;
  }
  .frame__wrp1 {
    left: 100px;
    width: 80px;
    height: 30px;
    padding-top: 6px;
    top: -30px;
    font-size: 14px;
  }
  .frame__wrp2 {
    top: -60px;
    font-size: 14px;
    left: 100px;
    padding-top: 6px;
    width: 80px;
    height: 30px;
  }
  .frame__wrp3 {
    padding-top: 6px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    top: -85px;
    left: 100px;
  }
}
@media only screen and (max-width: 990px) {
  .sarvar__items_wrp {
    display: block;
    place-items: center;
    margin-bottom: 100px;
  }
  .sarvar__head_p {
    margin-left: 150px;
  }
  .sarvar__basket_items_wrp {
    margin-bottom: 50px;
  }
  .sarvar {
    margin-bottom: 500px;
  }
}
@media only screen and (max-width: 480px) {
  .sarvar {
    margin-bottom: 500px;
  }
  .sarvar__basket_items_wrp {
    height: 335px;
  }
  .sarvar__head_p {
    margin-left: 50px;
  }
  .sarvar__product_img1 {
    margin-top: 10px;
  }
  .item__describe_wrp {
    margin-top: -18px;
  }
}/*# sourceMappingURL=style.css.map */